
main h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  main h1 {
    font-size: 2rem;
  }
}

.table td,
.table th {
  vertical-align: middle;
  text-align: center;
}

.table img {
  max-width: 50px;
  border-radius: 50%;
}

.table thead th {
  background-color: #f8f9fa;
  font-weight: 600;
}

main {
  margin-bottom: 4rem;
}
