header {
  align-self: center;
}

/* Fondo y sombra */
nav.navbar {
  width: 100%;
  background-color: #ffe1e6;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Logo */
.navbar-brand img {
  height: 55px;
  width: auto;
}

.navbar-brand {
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* Links */
.nav-link {
  font-weight: bold;
  font-size: 1.1rem;
  color: #1755a0 !important;
  transition: color 0.3s, border-bottom 0.1s;
  padding-bottom: 4px;
}

.nav-link:hover {
  color: #0096c7 !important;
  border-bottom: 3px solid #0096c7;
}

/* Botón Portal Pacientes */
.btn-portal {
  background-color: #1755a0;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.btn-portal:hover {
  background-color: #0096c7;
  color: white;
}

/* Botón hamburguesa */
.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler img {
  height: 35px;
  width: auto;
}
