
.profesionales{
    background-color: #c5d6e2;

}

.profesionales h2 {
    color: #1755a0;
    font-family: "Anton", sans-serif;
    font-weight: 700;
}

.profesionales p{
    color: #1755a0;
    font-family: "Anton", sans-serif;
    font-weight: 200;
    line-height: 15px;
    font-style: italic;
}

.obras-sociales{
    background-color: #f3efeb;
}

.obras-sociales a {
    transition: background-color 0.3s ease;
}

.obras-sociales a:hover{
    background-color: #c8d9e6;
}
